.schedule-item {
  display: flex;
  height: 5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  font-size: 1.8rem;
  margin-top: 1rem;
  border: 0.1rem solid var(--color-text-complement);
  border-radius: 1rem;
}
